/* * {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
} */

/* Paleta de cores #333333, #9e0c39, #e21b5a, #2a2c31, (texto)#434247 */
/* borda  #dfe1e5 */
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: space-around;
    margin:0;
    padding:0;
}

.containerFormulario{
    display: flex;
    justify-content: center;

}

form{
    display: inline;
    margin: 3rem;
    padding: 0;
    border: 1px solid #9061c2;
    border-radius: 4px;
}

.tituloFormulario h1{
    background: #9061c2;
    margin-top: 0;
    padding: 1rem;
    color: #ffffff;
    font-size: x-large;
}

.intensForm{
    display: inline-grid;
    margin: 0.7rem;
}

.intensForm label{
    font-weight: bold;
    color: #434247;
}

.intensForm input{
    padding: 5px;
    border: 1px solid #7c7c7b99;
    border-radius: 3px;
}

.buttonForm{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.buttonForm .botao{
    padding: 7px 45px 7px 45px;
    background: #9061c2;
    border: 2px solid #9061c2;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover{
    background: #9935f7;
    border: 2px solid #9935f7;
    transition: 0.1s;
}

ul{
    list-style: none;
    margin: 0;
	padding: 0;
    text-align: center;
}

li{
    margin: 3rem;
    padding: 1.7rem;
    text-align: justify;
    border: 1px solid #7c7c7b99;
    border-radius: 4px;
}

.strong{
    padding: 1rem;
}

#strongGenero{
    color: white;
    background: #9061c2;
    padding: 6px 16px 6px 16px;
    border-radius: 10px;
    font-weight: initial;
    font-size: small;
}

#strongPlataforma{
    background: #ff548f;
    color: #ffffff;
    padding: 6px 16px 6px 16px;
    border-radius: 10px;
    font-weight: initial;
    margin: 1rem;
    font-size: small;
}

.fa-trash-can{
    background: #ffffff;
    border: none;
    cursor:pointer;
    float: right;
    font-size: 18px;
}

.fa-trash-can:hover{
    color: red;
}

/* Parte Mobile */
@media(max-width: 768px) {
    .intensForm{
        display: grid;
    }

    .strong{
        padding: 1rem 1rem 1rem 0;
    }

    #strongNome{
        display: flex;
    }

    /* .fa-trash-can{
        margin-left: 15rem;
    } */
}